@page "/"

<PageTitle>Space Wars | Home</PageTitle>


<h1>Space Wars!</h1>
<p>2024 Snow College Software Engineering Coding Challenge</p>
<script 
    src="https://run.confettipage.com/here.js" 
    data-confetticode="U2FsdGVkX1/YXQewE8b4x+nkaKM74JSrMe8uEUHqkSK6+K74KPolYbeEhQxOO6q3qB67cjAOqYMr5EO9zGdbsfQGH6Qn8qAfkZ6SDG8M6B/8aUuSPQIcuKQZY+bXg2G1PjFtAexfn0z/w1rMtzFMgMFFwMdjVKYwmQ2EzTBRPrmMYG8mHOZtLDjyw6eycHI/9nIQezBUY7VeVH22la2YbhfgnP4Hh0RWGi9zB8m1QXQjUpzfjoMBSpQ9IRwtRaNv94vM3WMGxvjdr+DkLECB0G3E0NIiusbvevrzcWA5Lk/F+WynfRkBDkyODGvKvnaymBmTkl7g8WV4YmCFwqLU9eZW32E1JXBSsOAAMFb+Rhau0uAZKp4kGuTP+UGpbWdIwbs0GsGheG+kwdp7TR6VHQ4lQzWg1JyrkZ+S8qcZYh5tO6fSfxo6q8SIMlMynaOsyu5d3UZQQjen8Wy62YhyDJ2yW8og3ylc1ikgd6yMOdTa13G3QYmdrNJML1uSU5n6f2oCOL7C9bkjwlgOgDhiuaJCm7B1G61ciPsv7soyQOU2vmTnOxmCW2K19rUMBaIWJmJPavghHX1jbDKoKLprBposuNDN5gUwAG6Wjb5XcMD55eijOMdFSS8STCg2SKhYa7CmcRvkRMQWgSnNMqxMNlFM7pk0Rg/Nxi2G1tW4ctM=">
    </script>

<p>Public server: <a href="https://snowspacewars.azurewebsites.net/">https://snowspacewars.azurewebsites.net/</a>
    <i>(use that as the API address when you're running your client)</i>
</p>

<p>Fork (or clone) the client from <a
        href="https://github.com/SnowSE/SpaceWars.Console">https://github.com/SnowSE/SpaceWars.Console</a>. Modify the
    Program.cs file to customize the existing key mappings and program new macros to navigate, target other
    ships, attack, repair your damage, buy new guns, etc.
</p>
<p>
    If you want to build your own client from scratch, use the <a
        href="https://snowspacewars.azurewebsites.net/swagger">Swagger page</a>.
</p>

<p>Already joined your client to the server? Go to the <a href="spectatorview">Spectator View</a> to see everyone else
    in the game.</p>